.slides {
	display: none;
}
.show {
	display: block;
}

.prev, .next {
	display: block;
	position: absolute;
	top: 45%;
	font-weight: 36px;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

.prev {
	float: left;
	padding-left: 25px;
}

.next {
	float: right;
	right: 0;	
	padding-right: 25px;
}

a {
	text-decoration: none;
}

.slideshow-container, .slideshow-test {
	height: 300px;
	width: 700px;
	margin: 0 auto;
	position: relative;
}

.slides {
	height: 100%;
	width: 100%;
}

img {
	height: 100%;
	width: 100%;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}